body {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613030933_134-p-ogon-na-oranzhevom-fone-185.jpg");
    background-size: cover;
    color: white;
}
.header {
    background-color: black;
    padding: 20px;
    text-align: center;
}
.navigation {
    color: rgb(239, 42, 42);
}
h1 {
    color: rgb(255, 11, 11);
}
p {
    color: rgb(0, 0, 0);
}
.gallery {
    background-color: black;
    color: red;
    padding: 20px;
    width: 30%;
}
video {
    width: 100%;
}
.map {
    height: 400px;
    width: 100%;
}
.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
}
.card {
    border: 1px solid #210000;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
  }
  
  .card-image {
    width: 30%;
    height: auto;
  }
  
  .card-content {
    margin-top: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 14px;
  }
  
  .card-link {
    display: block;
    margin-top: 10px;
  }
  .card {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
  }